.Rproj.user
.Rhistory
.Rprofile
*.RData
.Ruserdata
.Renviron
.DS_Store
sites.csv
sites.txt
vignettes/.build.timestamp
vignettes/sebms-intro.R
*.png
Test_SQL.rmd
R/*trimexport*
R/*trimfunction*_swedish*
